/* general rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Kaleko 205 Round Bold';
    src: url('../fonts/Kaleko205Round-Bold.ttf') format('truetype');       
}

@font-face {
    font-family: 'Kaleko 205 Round Light';
    src: url('../fonts/Kaleko205Round-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaleko 205 Round Thin';
    src: url('../fonts/Kaleko205Round-Thin.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Kaleko 205 Round Light';
    font-size: 10px;
    color: white;
    font-weight: 1000;
}

/* container */
.container {
    width: 100%;

}

.speaker {
    text-align: right;
    font-size: 1.2em;
}

.speaker span {
    display: inline-block;
    padding: 0.5% 1%;
    border-radius: 4px;
    background-image: linear-gradient(#373737, black);
    white-space: nowrap;
}

#speaker-view {
    margin-right: 0.5%;
}

.fa-calendar-alt {
    margin-right: 7%;
}

/* flex-container */
.flex-container {
    display: flex;
    align-items: center;
}

/* page */
.page {
    text-align: center;
    width: 12.5%;
}

.arrow {
    display: block;
    font-size: 3.5em;
    padding: 1% 0;
}

.page span {
    font-size: 1.2em;
}

.fa-caret-right {
    color: #2ebaff;
}

.grid-container {
    overflow-y: auto;
    height: calc(100vh - 129px);
}

/* grid rules */
#grid {
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, 20%);
    gap: 5px;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 0.5% 0;
    /* debugging */
    background-color: black;
}

.item {
    position: relative;
    /* debugging */
    background-color: cornsilk;
}

.item img {
    width: 100%;
    height: 100%;
}

.item span {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1% 5%;
    white-space: nowrap;
}

.fa-microphone-slash {
    margin-right: 5%;
}

/* toolbar */
#toolbar {
    height: 100px;
    background-color: #1e2022;
    justify-content: space-between;
}

.side, .center {
    justify-content: space-evenly;
    /* debugging */
    /* width: 30%; */
    height: 80%;
    background-color: crimson;
    border: 1px solid black;
}

.side {
    width: 15%;
}

.center {
    width: 50%;
}

.side div:not(.arrow-menu) {
    text-align: center;
    width: 60%;
}

.center div:not(.arrow-menu) {
    text-align: center;
    width: 70%;
}

.side span, .center span {
    display: block;
    font-family: 'Kaleko 205 Round Thin';
    font-size: 1.2em;
    padding: 1%;
    white-space: nowrap;
}

.menu {
    justify-content: center;
}

.side .icon, .center .icon {
    font-size: 3em;
}

.fa-angle-up {
    display: inline-block;
}